<div class="page-content">
    <p class="sk-warning-info">
        {{fullconenat config}}<br />
    </p>
    <p class="skpage-title">{{FULLCONENAT}}</p>
    <div class="modset">
        <div class="skform-group">
            <label class="skform-tittle" for="at-fuleconenat">{{FULLCONENAT Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-fuleconenat" id="at-fuleconenat" hidden />
                <label for="at-fuleconenat" id="fuleconenat_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="sk-form-submit">
            <button class="btn-apply" type="button" name="at-fuleconenat-button-apply" id="at-fuleconenat-button-apply"
                onclick="fuleconenatButtonApplyClick()">{{Save}} & {{Apply}}</button>
        </div>
    </div>
</div>