<div class="page-content">
	<p class="sk-warning-info">
		{{This page provides user manual download.}}<br/>
	</p>
    <p class="skpage-title">{{Download User Guide}}</p>
	<div class="modset" style="padding-bottom: 12px;padding-left: 6px;">Please scan QRcode printed on the bottom of AX3000S to download the user guide.</div>
	<!-- <div class="modset">
        <div class="sk-form-submit">
            <button class="btn-apply" type="button" name="exportinfo_button" id="exportinfo_button" onclick="StartDownloadGuide()">{{Download User Guide}}</button>		 
        </div>
	</div> -->
</div>


