<div class="page-content">
	<p class="sk-warning-info">
		{{lanStaInfov6_StatsStaText}}
	</p>
	<p class="skpage-title">{{lanStaInfov6_StaInfo}}</p>
	<br>
	<div class="table-list" style="margin-left:24px;width:900px;" >
		<table>
			<thead>
				<tr>
					<th>{{lanStaInfov6_Index}}</th>
					<th>{{lanStaInfo_MACAddress}}</th>
					<th>{{lanStaInfov6_LocalIPAddr}}</th>
					<th>{{lanStaInfov6_GlobalIPAddr}}</th>
				</tr>
			</thead>
			<tbody id="lanStaInfo_devlist">
			</tbody>
		</table>
	</div>
</div>