<div class="page-content">
	<p class="sk-warning-info">
		{{upgradeStep1WarningText}}<br />
		{{upgradeStep2WarningText}}<br />
		{{upgradeStep3WarningText}}<br />
		{{upgradeNoteWarningText}}<br />
	</p>
	<p class="skpage-title">{{upgradeTitleText}}</p>
	<div class="modset">
		<div class="skform-group">
			<label class="skform-tittle" for="userName">{{upgradeSelectFileText}}</label>
			<input type="file" id="filename" name="filename"/>
		</div>
		<div class="sk-form-submit">
			<input class="btn-apply" id="upgrade_btn" type='button' value='{{upgradeTitleText}}' onclick="do_upload();">
		</div>
	</div>
</div>