<div class="page-content">
	<p class="sk-warning-info">
		{{This page allows you to enable or disable the WAN access function.}}
	</p>
	<p class="skpage-title">{{WAN Access Settings}}</p>
	<div class="modset">
		<div class="skform-group">
			<label class="skform-tittle" for="wanaccess_selInterface">{{Interface}}</label>
			<select size="1" class="skform-control" id="wanaccess_selInterface" name="wanaccess_selInterface" onchange="wanaccess_selchange_wan(this)">
	        </select>
		</div>
		
		<div class="skform-group">
			<label class="skform-tittle" for="wanaccess_port">{{Port}}</label>
			<input type="text" class="skform-control" id="wanaccess_port" name="wanaccess_port"/>
		</div>

		<div class="skform-group">
			<label class="skform-tittle">{{Enable}}</label>
			<label class="skcheckbox skcheckbox-form">
				<input type="checkbox" name="wanaccess_chk" id="wanaccess_chk"  hidden/>
				<label for="wanaccess_chk" id="wanAcess_enable" class="skcheckbox-label">
				</label>
			</label>
		</div>
		
		<div class="sk-form-submit">
		<input class="btn-apply" id="wanAcessSave_btn" type='button' onClick='wanaccess_btnSave()' value='{{Save & Apply}}'> 
		</div>
	</div>
</div>

