<div class="page-content">
    <p class="sk-warning-info">
        {{wlanNeighborAp5g_tips}}
    </p>
    <p class="skpage-title">{{wlanNeighborAp5g_info}}</p>
    <div class="modset">
        <div class="skform-group">
            <input class="sk-btn-small" type="button" value="Scan" onclick="BntClick_ScanNeighbor();"><span style="margin-left:12px;">{{wlanNeighborAp5g_text}}</span>
        </div>
        <div class="table-list" id="resulttb" style="display:none;">
            <table>
                <thead>
                    <tr>
                        <th>
                            {{wlanNeighborAp5g_ssid}}
                        </th>
                        <th>
                            {{wlanNeighborAp5g_addr}}
                        </th>
                        <th>
                            {{wlanNeighborAp5g_channel}}
                        </th>
                        <th>
                            {{wlanNeighborAp5g_sec}}
                        </th>
                        <th>
                            {{wlanNeighborAp5g_Encryption}}
                        </th>
                        <!--th>
                            {{wlanNeighborAp5g_bw}}
                        </th-->
                        <th>
                            {{wlanNeighborAp5g_rssi}}
                        </th>
                    </tr>
                </thead>
                <tbody id="NeighborTbody">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
