*{
	box-sizing: border-box;
}
.show-img {
	display: flex;
}
.transform {
	transform-origin:0 0;
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	-o-transform:scale(2);
	-ms-transform:scale(2);
	transform:scale(2);
	
}

.hotspot{
	/*min-width: 270px;*/
	/*min-height: 280px;*/
	border: 1px solid #979797 !important;
	display: block;
	padding: 6px;
	text-align: center;
	position: relative;
}
.hotspot .description {
	font-size:12px;
	border-bottom: 1px solid #999;
	position: absolute;
	min-width: 285px;
/*	transform-origin:0 0;
	-moz-transform:scale(0.5);
	-webkit-transform:scale(0.5);
	-o-transform:scale(0.5);
	-ms-transform:scale(0.5);
	transform:scale(0.5);*/
	left:188px;
	white-space:nowrap;
}
.hotspot .description p{
	padding-left: 16px;
	margin:0;
	text-align: left;
}
.img {
	display: block;
	margin:8px auto;
	text-align: center;

}

.pt-35 {
	padding-top: 35px;
}
.pt-20 {
	padding-top: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
