.css-6v77fi.lanDefault .MuiChip-label { padding: 0px 4px; }
.css-6v77fi.ponStatus .MuiChip-label { padding: 0px 10px; }
.css-1fdmh99 .MuiChip-avatar { margin-left: 5px; margin-right: -6px; width: 24px; height: 24px; color: rgb(97, 97, 97); font-size: 0.75rem; }
.css-1fdmh99 .MuiChip-avatarColorPrimary { color: rgb(255, 255, 255); background-color: rgb(29, 57, 196); }
.css-1fdmh99 .MuiChip-avatarColorSecondary { color: rgb(255, 255, 255); background-color: rgb(0, 151, 167); }
.css-1fdmh99 .MuiChip-avatarSmall { margin-left: 4px; margin-right: -4px; width: 18px; height: 18px; font-size: 0.625rem; }
.css-1fdmh99 .MuiChip-icon { margin-left: 4px; margin-right: -4px; font-size: 18px; }
.css-1fdmh99 .MuiChip-deleteIcon { -webkit-tap-highlight-color: transparent; color: rgba(0, 0, 0, 0.26); font-size: 16px; cursor: pointer; margin: 0px 4px 0px -4px; }
.css-1fdmh99 .MuiChip-deleteIcon:hover { color: rgba(0, 0, 0, 0.4); }
.css-1fdmh99.lanDefault .MuiChip-label { padding: 0px 4px; }
.css-1fdmh99.ponStatus .MuiChip-label { padding: 0px 10px; }
.css-1mu0rry .MuiChip-avatar { margin-left: 5px; margin-right: -6px; width: 24px; height: 24px; color: rgb(97, 97, 97); font-size: 0.75rem; }
.css-1mu0rry .MuiChip-avatarColorPrimary { color: rgb(255, 255, 255); background-color: rgb(29, 57, 196); }
.css-1mu0rry .MuiChip-avatarColorSecondary { color: rgb(255, 255, 255); background-color: rgb(0, 151, 167); }
.css-1mu0rry .MuiChip-avatarSmall { margin-left: 4px; margin-right: -4px; width: 18px; height: 18px; font-size: 0.625rem; }
.css-1mu0rry .MuiChip-icon { margin-left: 4px; margin-right: -4px; font-size: 18px; color: rgb(97, 97, 97); }
.css-1mu0rry .MuiChip-deleteIcon { -webkit-tap-highlight-color: transparent; color: rgba(0, 0, 0, 0.26); font-size: 16px; cursor: pointer; margin: 0px 4px 0px -4px; }
.css-1mu0rry .MuiChip-deleteIcon:hover { color: rgba(0, 0, 0, 0.4); }
.css-1mu0rry.lanDefault .MuiChip-label { padding: 0px 4px; }
.css-1mu0rry.ponStatus .MuiChip-label { padding: 0px 10px; }
.css-j7qwjs { display: flex; flex-direction: column; }
.css-1fqqf2k .MuiChip-avatar { margin-left: 5px; margin-right: -6px; width: 24px; height: 24px; color: rgb(97, 97, 97); font-size: 0.75rem; }
.css-1fqqf2k .MuiChip-avatarColorPrimary { color: rgb(255, 255, 255); background-color: rgb(29, 57, 196); }
.css-1fqqf2k .MuiChip-avatarColorSecondary { color: rgb(255, 255, 255); background-color: rgb(0, 151, 167); }
.css-1fqqf2k .MuiChip-avatarSmall { margin-left: 4px; margin-right: -4px; width: 18px; height: 18px; font-size: 0.625rem; }
.css-1fqqf2k .MuiChip-icon { margin-left: 4px; margin-right: -4px; font-size: 18px; color: rgb(97, 97, 97); }
.css-1fqqf2k .MuiChip-deleteIcon { -webkit-tap-highlight-color: transparent; color: rgba(0, 0, 0, 0.26); font-size: 16px; cursor: pointer; margin: 0px 4px 0px -4px; }
.css-1fqqf2k .MuiChip-deleteIcon:hover { color: rgba(0, 0, 0, 0.4); }
.css-11brze3 .MuiListItemText-root .MuiChip-root { height: 18px; border-radius: 4px; }
.css-11brze3 .MuiListItemText-root .MuiChip-label { padding: 0px 6px; }
.css-gl32lm .MuiListItemText-root .MuiChip-root { height: 18px; border-radius: 4px; }
.css-gl32lm .MuiListItemText-root .MuiChip-label { padding: 0px 6px; }
.css-vup0jc .MuiChip-avatar { margin-left: 5px; margin-right: -6px; width: 24px; height: 24px; color: rgb(97, 97, 97); font-size: 0.75rem; }
.css-vup0jc .MuiChip-avatarColorPrimary { color: rgb(255, 255, 255); background-color: rgb(29, 57, 196); }
.css-vup0jc .MuiChip-avatarColorSecondary { color: rgb(255, 255, 255); background-color: rgb(0, 151, 167); }
.css-vup0jc .MuiChip-avatarSmall { margin-left: 4px; margin-right: -4px; width: 18px; height: 18px; font-size: 0.625rem; }
.css-vup0jc .MuiChip-icon { margin-left: 4px; margin-right: -4px; font-size: 18px; color: rgb(97, 97, 97); }
.css-vup0jc .MuiChip-deleteIcon { -webkit-tap-highlight-color: transparent; color: rgba(0, 0, 0, 0.26); font-size: 16px; cursor: pointer; margin: 0px 4px 0px -4px; }
.css-vup0jc .MuiChip-deleteIcon:hover { color: rgba(0, 0, 0, 0.4); }
.css-vup0jc.MuiChip-clickable:hover { background-color: rgba(0, 0, 0, 0.04); }
.css-vup0jc .MuiChip-avatar { margin-left: 4px; }
.css-vup0jc .MuiChip-avatarSmall { margin-left: 2px; }
.css-vup0jc .MuiChip-icon { margin-left: 4px; }
.css-vup0jc .MuiChip-iconSmall { margin-left: 2px; }
.css-vup0jc .MuiChip-deleteIcon { margin-right: 5px; }
.css-vup0jc .MuiChip-deleteIconSmall { margin-right: 3px; }
.css-12p4jgn .MuiChip-avatar { margin-left: 5px; margin-right: -6px; width: 24px; height: 24px; color: rgb(97, 97, 97); font-size: 0.75rem; }
.css-12p4jgn .MuiChip-avatarColorPrimary { color: rgb(255, 255, 255); background-color: rgb(29, 57, 196); }
.css-12p4jgn .MuiChip-avatarColorSecondary { color: rgb(255, 255, 255); background-color: rgb(0, 151, 167); }
.css-12p4jgn .MuiChip-avatarSmall { margin-left: 4px; margin-right: -4px; width: 18px; height: 18px; font-size: 0.625rem; }
.css-12p4jgn .MuiChip-icon { margin-left: 4px; margin-right: -4px; font-size: 18px; color: inherit; }
.css-12p4jgn .MuiChip-deleteIcon { -webkit-tap-highlight-color: transparent; color: rgba(255, 255, 255, 0.7); font-size: 16px; cursor: pointer; margin: 0px 4px 0px -4px; }
.css-12p4jgn .MuiChip-deleteIcon:hover { color: rgba(0, 0, 0, 0.4); }
.css-12p4jgn .MuiChip-deleteIcon:hover, .css-12p4jgn .MuiChip-deleteIcon:active { color: rgb(255, 255, 255); }
.css-1xnox0e { display: table-row-group; }
.css-15ejc2r .MuiChip-label { padding-left: 2px; padding-right: 2px; line-height: 18px; }
.css-15ejc2r.stateDisabled { color: rgb(117, 117, 117); background-color: rgba(0, 0, 0, 0.12); }
.css-1a2im0e { max-width: 100%; font-family: Inter; font-size: 0.8125rem; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; white-space: nowrap; transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); cursor: unset; outline: 0px; text-decoration: none; border: 0px; vertical-align: middle; box-sizing: border-box; height: fit-content; color: rgb(76, 175, 80); padding: 0px; border-radius: 0px; background-color: rgb(232, 245, 233); }
.css-1a2im0e.Mui-disabled { opacity: 0.38; pointer-events: none; }
.css-1a2im0e .MuiChip-avatar { margin-left: 5px; margin-right: -6px; width: 24px; height: 24px; color: rgb(97, 97, 97); font-size: 0.75rem; }
.css-1a2im0e .MuiChip-avatarColorPrimary { color: rgb(255, 255, 255); background-color: rgb(29, 57, 196); }
.css-1a2im0e .MuiChip-avatarColorSecondary { color: rgb(255, 255, 255); background-color: rgb(0, 151, 167); }
.css-1a2im0e .MuiChip-avatarSmall { margin-left: 4px; margin-right: -4px; width: 18px; height: 18px; font-size: 0.625rem; }
.css-1a2im0e .MuiChip-icon { margin-left: 5px; margin-right: -6px; color: rgb(97, 97, 97); }
.css-1a2im0e .MuiChip-deleteIcon { -webkit-tap-highlight-color: transparent; color: rgba(0, 0, 0, 0.26); font-size: 22px; cursor: pointer; margin: 0px 5px 0px -6px; }
.css-1a2im0e .MuiChip-deleteIcon:hover { color: rgba(0, 0, 0, 0.4); }
.css-1a2im0e .MuiChip-label { padding-left: 2px; padding-right: 2px; line-height: 18px; }
.css-1a2im0e.stateDisabled { color: rgb(117, 117, 117); background-color: rgba(0, 0, 0, 0.12); }
.css-1ic69m7 { margin: 0px; font-size: 0.75rem; letter-spacing: 0.025rem; font-family: Inter; font-weight: 400; line-height: 1.66; color: rgb(0, 137, 123); }