<div class="page-content">
    <p class="sk-warning-info">
        {{alg config}}<br />
    </p>
    <p class="skpage-title">{{ALG}}</p>
    <div class="modset">
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-h323">{{H.323 Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-h323" id="at-alg-h323" hidden />
                <label for="at-alg-h323" id="algH323_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-sip">{{SIP Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-sip" id="at-alg-sip" hidden />
                <label for="at-alg-sip" id="algSip_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-rtsp">{{RTSP Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-rtsp" id="at-alg-rtsp" hidden />
                <label for="at-alg-rtsp" id="algRtsp_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-l2tp">{{L2TP Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-l2tp" id="at-alg-l2tp" hidden />
                <label for="at-alg-l2tp" id="algL2tp_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-ipsec">{{IPSEC Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-ipsec" id="at-alg-ipsec" hidden />
                <label for="at-alg-ipsec" id="algIpsec_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-ftp">{{FTP Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-ftp" id="at-alg-ftp" hidden />
                <label for="at-alg-ftp" id="algFtp_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="skform-group">
            <label class="skform-tittle" for="at-alg-pptp">{{PPTP Enable}}:</label>
            <label class="skcheckbox skcheckbox-form">
                <input type="checkbox" name="at-alg-pptp" id="at-alg-pptp" hidden />
                <label for="at-alg-pptp" id="algPptp_btn" class="skcheckbox-label">
                </label>
            </label>
        </div>
        <div class="sk-form-submit">
            <button class="btn-apply" type="button" name="at-alg-button-apply" id="at-alg-button-apply"
                onclick="algButtonApplyClick()">{{Save}} & {{Apply}}</button>
        </div>
    </div>
</div>