<div class="page-content">
	<p class="sk-warning-info">
		{{tr69inform_warningInfo}}
	</p>
	<p class="skpage-title">{{tr69inform_TR069Inform}}</p>
	<div class="modset">

		<div class="skform-group" id="Tr_diagTipInform" style="display:none">
			<p>{{tr69inform_Informing}}</p>
		</div>

		<div class="skform-group">
			<textarea id="Ta_DiagInformResult" style="height: 30px; width:580px;" readonly></textarea>
		</div>

		<div class="sk-form-submit">
			<button class="btn-apply" id="tr69InformStart_btn" type="button" onclick="DiagInformStart()">{{tr69inform_Start}}</button>
		</div>
	</div>
</div>