#tree {
	padding: 50px 0px;
}

.node {
	cursor: pointer;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: rgb(66,139,239);
	stroke-width: 2px;
}

.tooltip {
	position: absolute;
	text-align: center;
	padding: 8px;
	font: 12px sans-serif;
	background: blue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	color: white;
	text-align: left;
}
