v\: * {
    /* VML stuff */
    behavior:url(#default#VML); /* FIXME Property 'behavior' doesn't exist */
    position:absolute
}

[draggable=true] {
    -webkit-user-drag: element;
    -webkit-user-select: none;
}

a {
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #f0f0f0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
}

.top {
    width: 100%;
    background: #bbb;
}

td.menu {
    background: #bbb;
    width: 150px;
    height: 100%;
    box-shadow:
	-1px 0 5px rgba(255,255,255,0.8) inset,
	-1px 0 #888 inset,
	1px 0 3px #888 inset;
}

#startup {
    margin: 4em 0 0 150px;
}
#startup h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
#startup img {
    margin: 0 0 0 1em;
}

#identity {
    font-weight: bold;
    color: #444;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 6px;
    flex: 1;
    line-height: 16px;
    font-size: 14px;
    margin: 0;
}

#top {
    display: block;
    position: relative;
    left: -4px;
    margin: 3px 0 0 4px;
    white-space: nowrap;
}

#menu, #menubar .dropmenu {
    margin: 0 0 0 -1px;
    padding: 0;
    display: block;
    height: 100%;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
#menu ul, #menubar .dropmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li, #menubar .dropmenu li {
    list-style: none;
}
#menu li.group a:after {
    content: url("right-arrow.svg");
    float: right;
}
#menu li.activegroup a:after {
    content: url("down-arrow.svg");
    float: right;
}
#menu li.sep {
    height: 4px;
}
#menu ul.group {
    display: none;
}
#menu a, #menubar .dropmenu a {
    display: block;
    border: 1px solid #888;
    background: #ddd;
    text-decoration: none;
    color: #000000;
    margin: -1px 0 0 0;
    padding: 4px 8px;
    cursor: inherit;
    box-shadow:
	1px 1px 2px rgba(255,255,255,0.8) inset,
	0 5px 10px -5px rgba(255,255,255,0.7) inset;
    width: 120px;

    transition: background 0.2s linear, box-shadow 0.3s linear;
}
#menu a.opened {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
#menu a.active {
    background: #ccc;
    box-shadow: 1px 1px 1px #aaa inset;
}
#menu a.active:hover {
    background: #ccc;
}
#menu a.active:active {
    background: #ccc;
}
#menu a:hover, #menubar .dropmenu a:hover {
    background: #eee;
}
#menu a.opened:hover {
    background: #aaa;
}
#menu a:active, #menubar .dropmenu a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
#menu ul.activegroup {
    padding-left: 4px;
    box-shadow: 1px 0 3px #000 inset;
}
#menu ul.activegroup li a {
    margin: -1px 0 0 0;
    padding: 4px 0 4px 9px;
    background-color: #c1c1c1;
    box-shadow: 0 5px 10px -5px rgba(255,255,255,0.6) inset;
}
#menu ul.activegroup li a.opened {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
#menu ul.activegroup li a:hover {
    background: #ddd;
}
#menu ul.activegroup li a.opened:hover {
    background: #aaa;
}
#menu ul.activegroup li a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
#menu input, #menubar .dropmenu input{
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    width: 80px;
    background: #ddd;
    background: transparent;
}
#menu input:focus, #menubar .dropmenu input:focus {
    border: 1px solid #888;
}
#menu a:active input, #menubar .dropmenu a:active input {
    background: #aaa;
    background: transparent;
}
#menu a:hover input, #menubar .dropmenu a:hover input {
    background: #eee;
    background: transparent;
}
#menu ul.activegroup input {
    background: #ccc;
    background: transparent;
}
#menu ul.activegroup a:hover input {
    background: #ddd;
    background: transparent;
}

td.menubar {
    background: #ddd;
}
#menubar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
}
#menubar ul {
    list-style: none;
    margin: 10px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
}
#menubar li {
    display: inline;
    list-style: none;
}
#menubar a {
    border: 1px solid #666;
    background: #eee;
    text-decoration: none;
    color: #000000;
    margin: 0 0 0 -1px;
    padding: 5px 24px;
    cursor: inherit;
    box-shadow:
	1px 1px 2px rgba(255,255,255,0.8) inset,
	0 5px 10px -5px rgba(255,255,255,0.7) inset;
    display: inline-block;
    line-height: 16px;

    transition: background 0.2s linear, box-shadow 0.3s linear;
}
#menubar a.icon {
    padding: 5px 7px 5px 10px;
}
#menubar a.opened {
    background: #ccc;
    box-shadow: 1px 1px 2px #888 inset;
}
#menubar a.active {
    background: #ccc;
    box-shadow: 1px 1px 1px #aaa inset;
}
#menubar a.active:hover {
    background: #fff;
}
#menubar a.active:active {
    background: #ccc;
}
#menubar a:hover {
    background: #fff;
}
#menubar a.opened:hover {
    background: #ccc;
}
#menubar a:active {
    background: #ccc;
    box-shadow: 1px 1px 2px #888 inset;
}
#menubar div.icon {
    display: inline-block;
    float: none;
}
#menubar input {
    background: transparent;
}

#menubar .dropmenu {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

#menubar hr.sep {
    margin:0;
}

#menubar .visible {
    display: block;
}

ul#menubar_list {
    margin: 0;
}

#title {
    font-family: verdana, arial, helvetica, sans-serif;
    float: right;
    color: #444;
    font-size: 14px;
    margin: 7px 12px 1px 12px;
}
#title input {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #ccc;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 20em;
    text-align: right;
}

#tabline {
    display: flex;
}

#tabs {
    flex: 1;
}

#tabs ul {
    font-size: 11px;
    text-align: left;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#tabs .prefix {
    float: left;
    background: none;
    padding-left: 2px;
}
#tabs li {
    float: left;
    margin: 0;
    padding: 0;
}
#tabs a {
    float: left;
    margin: 4px 2px 0 0;
    padding: 4px 8px 5px 8px;
    background: #aaa;
    background: linear-gradient(#aaa, #888);
    border: 1px solid #888;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    box-shadow:
        1px 1px 2px rgba(255,255,255,0.9) inset,
	0 1px 20px 10px rgba(240,240,240,0.7) inset, /* top gradient */
	0 1px rgba(255,255,255,0.2);
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    cursor: inherit;

    transition: background 0.2s linear;
}
#tabs a:hover {
    background: #fff;
}
#tabs a:active {
    background: #ccc;
    box-shadow: 1px 1px 2px #aaa inset;
}
#tabs a.active {
    padding-top: 6px;
    margin-top: 2px;
    background: #f0f0f0;
    box-shadow:
        1px 1px 2px #fff inset,
	0 1px 20px 0 rgba(240,240,240,0.2) inset,
	0 2px #f0f0f0;
}
#tabs a.active:active {
}
#tabs a.active:hover {
}
#tabs input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 10em;
}
#tabs a input {
    background: #e8e8e8;
    background: transparent;
}
#tabs a:hover input {
    background: #f8f8f8;
    background: transparent;
}
#tabs a.active input {
    background: #fff;
    background: transparent;
}
#tabs a.active:hover input {
    background: #fff;
    background: transparent;
}

#right {
    flex-grow: 1;
}
#right, .top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}
#content {
    margin: 0;
    padding: 16px 8px 8px 8px;
    border-top: 1px solid #888;
    overflow: auto;
}
#toolbar {
    grid-column: 2/3;
    grid-row: 2/5;
}
#filter {
    grid-column: 1/2;
    grid-row: 2/3;
}

#itemPane {
    display: grid;
    grid-template-columns: minmax(420px, 700px) auto;
    grid-auto-rows: auto;
    align-content: start;
    max-width: max-content;
    width: auto;
    margin: 0 auto;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    column-gap: 12px;
}
#itemPane #toolbar .toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#itemTable {
    overflow: auto;
    grid-column: 1/2;
    grid-row: 3/4;
}
#confirmButtons {
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0 -2px 5px lightgray;
    border-radius: 5px;
    margin-top: 16px;
    grid-column: 1/2;
    grid-row: 4/5;
    position: relative;
    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 4px;
    padding: 4px;
}
#confirmButtons .toolbar {
    margin: 0;
}
.errorPopup {
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 4px;
    background-color: pink;
    color: darkred;
    font-size: 1.1em;
    width: 100%;
}

ul.toolbar {
    font-size: 11px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 2px 0 4px 2px;
}
.top ul.toolbar {
    margin-left: 8px;
}
ul.toolbar li {
    float: left;
    vertical-align: middle;
}
ul.toolbar li.hidden {
    display: none;
}
ul.toolbar li.sep {
    padding: 1px 10px 0 0;
}
ul.toolbar li.custom {
    padding: 0;
}
.top ul.toolbar li.custom {
    margin: 2px 4px 0 0;
}
ul.toolbar li.postfix {
    background: none;
    float: none;
    clear: left;
    display: block;
    padding: 4px 8px 10px 0;
    margin: 0 2em 0 0;
}
ul.toolbar li.ending {
    background: none;
    float: none;
    clear: left;
    padding: 0;
    margin: 0;
}
ul.toolbar a {
    float: none;
    display: block;
    margin: 2px 4px 2px 0;
    padding: 5px;

    background: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	0 10px 10px -5px rgba(255,255,255,0.5) inset, /* top gradient */
	1px 1px 2px rgba(0,0,0,0.2); /* shadow */
    color: #000;

    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: inherit;
    min-width: 4em;

    transition: background 0.2s linear, box-shadow 0.2s ease-out;
}
ul.toolbar a.disabled {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    color: #888;
}
ul.toolbar a:hover {
    background: #eee;
}
ul.toolbar a.disabled:hover {
    background: #ddd;
}
ul.toolbar a.pressed {
    background: #bbb;
    box-shadow: 1px 1px #aaa inset;
}
ul.toolbar a.pressed:hover {
}
ul.toolbar a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #999 inset;
}
ul.toolbar a.disabled:active {
    background: #ddd;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
ul.toolbar a:focus {
    text-decoration: strikeout; /* FIXME  text-decoration strikeout is not a text-decoration value */
}
ul.toolbar a span {
}
ul.toolbar li.custom:active {
    background: none;
}
ul.toolbar li.sep:active {
    background: none;
}
ul.toolbar .checkbox {
    margin: 0 0 0 1em;
}
ul.toolbar a input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    margin: 0 1em 0 0;
    padding: 0;
    background: #e8e8e8;
    background: transparent;
    width: 10em;
}
ul.toolbar li.custom {
    vertical-align: middle;
}
ul.toolbar .filter {
    float: right;
    margin-top: 1px;
}

ul.popup {
    font-size: 11px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #dddddd;
    border: 1px solid #888;
    position: absolute;
    z-index: 100;
}
ul.popup li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    background: none;
}
ul.popup a {
    display: block;
    background: none;
    padding: 2px 4px;
    margin: 0;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    cursor: inherit;

    user-select: none;
    -webkit-user-select: none; /* Safari */
}
ul.popup a:hover {
    background: #aaa;
}
ul.popup a:active {
    background: #aaa;
}

a.tbtn {
    display: inline;
    border-top-color: #d0d0d0;
    border-left-color: #d0d0d0;
    border-bottom-color: #606060;
    border-right-color: #606060;
    border-style: solid;
    border-width: 1px;
    padding: 0px 4px 0px 3px;
    margin: 0 0 0 2px;
    font-size: 10px;
    text-decoration: none;
    color: #000000;
    background: #e0e0e0;
    cursor: inherit;
}
a.tbtn:hover {
    background: #F0F0F0;
}
a.tbtn:active {
    background: #F0F0F0;
    border: 1px inset #000000;
}

a.sbtn {
    border: 1px solid #f0f0f0;
    padding: 2px 3px 2px 3px;
    margin: 2px 0 2px 4px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    cursor: inherit;
    white-space: nowrap;
}
a.sbtn_disabled {
    border: 1px solid #f0f0f0;
    padding: 2px 4px 2px 3px;
    margin: 2px 0 2px 4px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}
a.sbtn:hover {
    border: 1px solid #888;
    background: #ddd;
    border-radius: 3px;

    box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	1px 1px 2px rgba(0,0,0,0.2); /* shadow */
}
a.sbtn:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #999 inset;
}

.buttons {
    width: 100px;
    float: right;
    padding: 2px 4px;
}

.buttons a {
    display: block;
    text-align: center;
    margin-bottom: 3px;
}

.table {
    position: relative;
    z-index: 0;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

    /* in iframe we don't have set correct fonts, set them now */
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}
.table td  {
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    empty-cells: show;
    padding: 4px;
}
.table .droptarget td {
    padding: 4px 4px 3px 4px;
    border-bottom: 2px solid #000;
}
.table .droptarget .comment td {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}
table .about td {
    color: red;
}
.table td:first-child {
    border-left: none;
}
.table th {
    text-align: left;
    font-weight: bold;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: sticky;
    top: -17px; /* offset table paddings */
    z-index: 1; /* reneder above icons */
    background: #ddd;
    box-shadow:
	1px 1px 2px rgba(255,255,255,0.9) inset,
	0 5px 10px -5px rgba(255,255,255,0.5) inset;
}
.table th:first-child {
    border-left: none;
}
.table th.pressed {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
.table th.sort-ascend span:before {
    content: url("ascend.svg");
    padding-right: 4px;
}
.table th.sort-descend span:before {
    content: url("descend.svg");
    padding-right: 4px;
}
.table .droptarget th {
    padding: 4px 4px 3px 4px;
    border-bottom: 2px solid #000;
}
.table tbody.invalid {
    color: #f00;
}
.table tbody.disabled {
    color: #888;
    font-style: italic;
}
.table tbody.selected {
    background: #9dc0ea;
    color: #000;
}
.table tbody:hover {
    background-color: #eee;
}

.table th.comment button.switch {
    width: 22px;
    height: 22px;
    margin: -4px 4px -5px -3px;
    padding: 8px 0px 0px 0px;
    border-width: 0px;
    background-position:center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.table th.comment button.switch:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
table.comment-std td.comment {
    text-overflow: ellipsis;
}
table.comment-wrap td.comment {
    white-space: normal;
}
table.comment-min th.comment {
    width: 15px !important;
}
table.comment-min th.comment span {
    display: none;
}
table.comment-std th.comment button.switch {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><line x1="2" y1="1" x2="6" y2="5" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/><line x1="2" y1="5" x2="6" y2="1" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/><polyline points="8 3 10 3 10 9 2 9" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/><polyline points="4 7 2 9 4 11" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/></svg>');
}
table.comment-min th.comment button.switch {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path id="b" d="m9,8l-2-2,2-2" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/><path id="c" d="m3,4l2,2-2,2" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/></svg>');
}
table.comment-wrap th.comment button.switch {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><line x1="10" y1="2" x2="2" y2="2" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/><polyline points="2 5 10 5 10 9 2 9" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/><polyline points="4 7 2 9 4 11" style="fill:none; stroke:%23000; stroke-linecap:round; stroke-linejoin:round; stroke-width:1.5px;"/></svg>');
}

#statusbar {
    width: 100%;
    margin: 0 0 8px 0;
}

#statusbar td {
    padding: 3px 6px;
    white-space: nowrap;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #f8f8f8;
    box-shadow:
	0 10px 5px rgba(255,255,255,0.5) inset,
	1px 1px 2px rgba(255,255,255,0.9) inset;
}
#statusbar td.disabled {
    color: #c0c0c0;
}
#statusbar td.about {
    color: red;
}
#statusbar.itemStatusbar {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
}
#statusbar.itemStatusbar tbody {
    display: block;
}
#statusbar.itemStatusbar tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#statusbar.itemStatusbar td {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0px 2px;
}
#statusbar.itemStatusbar td span {
    background-color: lightgray;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    min-width: auto !important;
    width: auto;
}
#statusbar.itemStatusbar td.disabled span {
    background-color: white;
}

.list {
    width: 100%;
}
.list td {
    padding: 2px 0 2px 0;
    margin: 0;
}
.list td.ctrl {
    min-width: 30px;
    font-size: 8px;
    border-top: 1px solid #ddd;
}
.list td.label {
    text-align: right;
    font-weight: bold;
    padding: 7px 1em;
    vertical-align: middle;
    white-space: nowrap;
    height: 20px;
    text-shadow: #fff 1px 1px;
    border-top: 1px solid #ddd;
    width: 100px;
}
.list td.label input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 2px;
    text-align: right;
    background: #f0f0f0;
    width: 15em;
    box-shadow: none;
}
.list td.label input:focus {
    border: 1px solid #888;
}
.list tbody.group td.label {
}
.list td.extra {
    width: 26px;
    border-top: 1px solid #ddd;
}
.list td.value {
    border-top: 1px solid #ddd;
}
.list td.tvalue {
    min-width: 10em;
    border-top: 1px solid #ddd;
    padding-right: 10px;
}
.list td.sep {
    padding: 0;
}
.list td.flabel {
    background: #f0f0f0;
    font-style: italic;
    text-align: right;
    padding: 4px 1em 4px 1em;
    vertical-align: middle;
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid #ddd;
}
.list td.fextra {
    min-width: 26px;
    border-top: 1px solid #fff;
}
.list td.fvalue {
    width: 100%;
    border-top: 1px solid #fff;
}
.list thead div {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 4px 2px 6px;
    margin: 0 0 1px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 1px #fff;
}
.list thead div input {
    text-align: right;
    background: #f0f0f0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 15em;
    box-shadow: none;
}
.list thead div.setup {
    text-align: left;
}
.list hr {
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    margin: 0 0 1px 0;
    box-shadow: 0 1px #fff;
}
.list tbody tr.closed {
    display: none;
}
.list tbody.hidden tr {
    display: none;
}
.list tbody.folded {
    display: none;
}
.list thead.folded div img{
    transform: rotate(-90deg);
}

.list .droptarget td {
    border-top: 1px solid #000;
}
.list .droptarget td table td {
    border-top: 0;
}

input {
    color: #000;
    background: #fff;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
input:disabled {
    color: #888;
    background: #fff;
}
select {
    color: #000;
    margin: 0;
    padding: 2px 1px;
    border: 1px solid #888;
    background: #fff;
}
#title select {
    padding: 0 1px;
}
@-moz-document url-prefix() {
    select {
	padding: 0 1px;
    }
}
select:disabled {
    color: #888;
    background: #fff;
}
span.select {
    display: inline-block;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
textarea {
    display: block;
    width: 90%;
    margin: 2px;
    border: 1px solid #888;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.graph {
    margin: 4px 4px 2px 2px;
}
.graph svg.graph {
    background: #fff;
    margin: 0;
    border: 1px solid #888;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.graph table td {
    width: 25%;
    padding: 0 4px 0 0;
    margin: 0;
}

.error {
    color: #f00;
}
.changed {
    color: #00f;
}
.disabled {
    color: #888;
}
.tablerror {
    color: #f00;
    text-align: center;
    font-size: large;
}

.cbox {
    display: inline-block;
    position: relative;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.cbox input {
    position: absolute;
    left: 2px;
    top: 2px;
    margin: 0;
    padding: 0 2px;
    z-index: 1;
    border: none;
    background: #fff;
    box-shadow: none;
    outline: none;
}
.cbox input:disabled {
    color: #888;
    background: #fff;
}
.cbox select {
    position: relative;
    width: 11em;
    margin: 0;
    padding: 2px;
    box-shadow: none;
    background: #fff;
}
.cbox select:disabled {
    color: #888;
    background: #fff;
}

.checkbox {
    white-space: nowrap;
}
.checkbox input {
    font-size: 11px;
    border: none;
    margin: 0 2px 0 2px;
    padding: 0;
    vertical-align: middle;
    box-shadow: none;
}
.checkbox input:focus {
    border: 1px solid #888;
}
.checkbox td {
    padding: 2px 1em 2px 0;
    margin: 0 2px 0 0;
}

.radio {
    font-size: 13px;
    margin: 2px 1em 2px 2px;
    vertical-align: bottom;
}
.radio input {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.rovalue {
    padding: 4px 2px;
    margin: 0;
    white-space: pre-wrap;

    user-select: text;
    -webkit-user-select: text; /* Safari */
}
.roprevalue {
    font-family: monospace;
    padding: 4px 2px;
    margin: 0;

    user-select: text;
    -webkit-user-select: text; /* Safari */
}
.roqrvalue {
    font-family: monospace;
    font-size: 4px;
}

.opt div {
    vertical-align: bottom;
}

.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.defval {
    padding: 2px;
    color: gray;
}

.strikeout {
    text-decoration: line-through;
}

.skindrag {
    position: absolute;
    opacity: 0.6;
    z-index: 10;
}

.skindrag input {
    border: 0;
    color: #000;
    background: none;
}

a.not {
    font-size: 10px;
    width: 12px;
    margin: 2px;
    padding: 0;
    border: 1px solid #888;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a.not img {
    vertical-align: -1px;
    border: none;
}
a.not_disabled {
    font-size: 10px;
    width: 12px;
    margin: 2px;
    padding: 0;
    border: 1px solid #888;
    background: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a.not_disabled img {
    vertical-align: -1px;
    border: none;
}
a.not:hover {
    background: #eee;
}
a.not:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}

div.icon {
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: 0px 4px -5px 0;
    background: url('icons.png');
    position: relative;
    top: -1px; /* Hack */
}

.disabled div.icon {
    filter: gray; /* IE */
    filter: grayscale(1);
}

form {
    margin: 0;
}

.terminal {
    overflow: hidden;
    overflow-y: scroll;
    white-space: pre;
    font-family: monospace;
    background: #ffffff;
    border: 1px solid #888;
    padding: 2px;
}

@keyframes blink {
    50% { box-shadow: none; }
}

.terminal .cursor {
    box-shadow: -2px 0 #000;
    animation: blink 1s step-end infinite;
}

#settings > svg{
    position: relative;
    border: 1px solid #666;
    background: #eee;
    text-decoration: none;
    color: #000000;
    padding: 1px 7px;
    transition: background 0.2s linear, box-shadow 0.3s linear;
}

#settings > svg:hover {
    background-color: #fff;
}

#settings > svg.active {
    background: #ccc;
    box-shadow: 1px 1px 2px #888 inset;
}

img#logo {
    max-height: 28px;
}

#formToggle {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    padding: 0 4px;
}
#formToggle > i {
   display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>');
    cursor: pointer;
}
body.serve-formToggle #formToggle > i {
   background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minimize"><path d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3"></path></svg>')
}
body.serve-formToggle #itemPane {
    grid-template-columns: 1fr auto;
    max-width: 1600px;
}
