.chart {
	font: menu;
	background: #060000;
	color: #66BB66;
	overflow: hidden;
	position: relative;
}

.chart .legend {
	float: left;
	/*border: 1px solid #66BB66;*/
	background: #060000;
	padding: 2px 3px 2px 3px;
	font-family:Verdana, Arial, Helvetica;
	font-size:10pt;
}

.chart .legend ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

.chart .legend ul li {
	list-style: square;
}

.chart .legend ul li span {
	color: #66BB66;
}
